html,body
{
  height:100%;
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
}

#container
{
  height:100%;
  width:100%;
  font-size:0;
  margin:0 auto;
}

.side-img
{
  display:inline-block;
  vertical-align:top;
  height:100%;
  width:60%;
  background-image: url('images/bg.PNG');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.side-lgn
{
  display:inline-block;
  vertical-align:top;
  background:#0B1C2F;
  height:100%;
  width:40%;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}

.box-lgn
{
  width: 500px;
  height: 600px;
  background-color: saddlebrown;
  align-items: center;
  justify-content: center;
  align-items: center;
}

